.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.836);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgb(252, 254, 255);
    padding: 20px 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

@media only screen and (max-width:575px){
    .navbar{
        justify-content: center;
    }
}